<div class="positions-list" *ngIf="positions.length > 0; else emptyState">
  <article class="positions-list__item" *ngFor="let position of positions">
    <ion-icon [src]="itemIconAsset" aria-hidden="true"></ion-icon>
    <div>
      <p class="positions-list__name">{{ position.name }}</p>
      <p class="positions-list__priority">{{ position.priorityLabel }}</p>
    </div>
  </article>
</div>

<ng-template #emptyState>
  <p class="positions-list__empty">Aun no registras posiciones.</p>
</ng-template>
